<div id="introduccion">
    <img id="banner" src="./assets/banner.jpg" alt="Banner">
    <!--<a href='https://www.freepik.es/vectores/flores-colores'>Vector de flores colores creado por pikisuperstar - www.freepik.es</a>-->
    <div id="acercaDe">
        <img id="fotoDePerfil" src="./assets/foto.jpg" alt="Foto De Perfil">
        <div id="datos">
            <h1 id="nombre">Carolina Veronica Perez</h1>
            <h2>Full Stack Developer Jr.</h2>
            <p class="descripcion">Lorem ipsum dolor sit amet. Non illum voluptas fuga quidem in sapiente voluptates
                eos aliquid iure in enim rerum. At voluptatum eius ab omnis nesciunt qui enim placeat eos labore
                nobis ea nihil fugiat eos aspernatur consequuntur qui harum molestiae. Id minus reiciendis eum
                minima totam et quidem ratione et modi labore ex commodi alias 33 explicabo dolorem non assumenda
                error. Aut recusandae placeat qui nesciunt molestiae aut voluptatem consequatur qui nesciunt commodi
                ut ipsam optio.</p>
        </div>
    </div>
  </div>