


<section id="habilidades">

    <div class="titulo">
        <h1>Habilidades</h1>
    </div>
    <div class="articles" id="listaHabilidades">
        <article>
            <img class="Habilidad" src="./assets/html.ico" alt="Habilidad">
            <progress value="25" max="100"> 32% </progress>
            
        </article>
        <article>
            <img class="Habilidad" src="./assets/css.ico" alt="Habilidad">
            <progress value="50" max="100"> 32% </progress>
        </article>
        <article>
            <img class="Habilidad" src="./assets/java.ico" alt="Habilidad">
            <progress value="75" max="100"> 32% </progress>
        </article>
        <article>
            <img class="Habilidad" src="./assets/git.ico" alt="Habilidad">
            <progress value="100" max="100"> 32% </progress>
        </article>
        <article>
            <img class="Habilidad"src="./assets/angular.ico" alt="Habilidad">
            <progress value="25" max="100"> 32% </progress>
        </article>
        <article>
            <img class="Habilidad"src="./assets/python.ico" alt="Habilidad">
            <progress value="25" max="100"> 32% </progress>
        </article>
    </div>
  </section>
  
