
header{
    background-color: var(--color-primario);
    width: 100%; /*Ocupa todo lo largo de la pantalla*/
    box-shadow: var(--box-shadow);
  
    
}

nav ul {
    list-style: none;
    display: flex;/*Organiza el contenido como si fueran tablas*/
    justify-content: flex-end;/*Coloca todos los elementos a lo ultimo/derecha*/
    align-items: center;/*Alinea los items en el centro*/
    height: 5rem;/*Ancho de la barra de la lista */
}

nav ul li {
    padding-right: 1rem;/* Espacio entre los elemenntos de la lista*/
}

#logoArgProg {
    /*Establecemos tamaño de la imagen*/
    height: 3.5rem;
    width: 11rem;
}

#logoArgProg:hover {
    /*Establecemos tamaño de la imagen*/
    height: 3.8rem;
    width: 11.5rem;
}



nav button {
    background-color: transparent;    /*Eliminamos propiedades por defecto del boton*/
    border: none;
    cursor: pointer;    /*Efecto cursor cuando se se posicionan en el elemento*/
}

.icono {
    /*Establecemos tamaño de la imagen*/
    height: 3rem;
    width: 3rem;
  }

/*Efecto cuando se posicionan en el elemento*/
.icono:hover {
    height: 3.3rem;
    width: 3.3rem;
}

/*Ubicamos el primer elemento de la lista/logoArgPro al inicio/lado izquierdo*/
nav ul li:first-child {
    margin-right: auto;
    margin-left: 2rem;
    /*Espacio entre el elemento y el borde de la pantalla*/
}

/*Espacio entre el ultimo elemento de la lista/loging y el borde de la pantalla*/
nav ul li:last-child {
    margin-right: 2rem;
   
}


