<header>
    <nav>
        <ul>
            <li><a [href]="redSocial.argentinaPrograma" target="_blank"><img id="logoArgProg"
                        src="./assets/logoArgentinaProgramadddd.png" alt="Argentina Programa"></a></li>
            <li><a [href]="redSocial.facebook" target="_blank"><img class="icono" src="./assets/facebook.ico"
                        alt="FACEBOOK"></a></li>
            <li><a [href]="redSocial.twitter" target="_blank"><img class="icono" src="./assets/twitter.ico"
                        alt="TWITTER"></a></li>
            <li><a [href]="redSocial.instagram" target="_blank"><img class="icono" src="./assets/instagram.ico"
                        alt="INSTAGRAM"></a></li>

            <li *ngIf="!esEdicion"><a routerLink="/iniciarSesion"><img class="icono" src="./assets/login.png"
                        alt="LOGIN"></a></li>
            <li *ngIf="esEdicion"><a routerLink=""><img class="icono" src="./assets/logout.ico" alt="LOGOUT"></a></li>
        </ul>
    </nav>
</header>