::ng-deep .ventanaDeEliminarElemento mat-dialog-container {
    background-color: var(--color-primario);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: var(--box-shadow-claro);

}


#ventanaConfirmacion{
   text-align: center;
   width: 30rem;
}

.botonConfirmacion{
    background-color: rgb(233, 219, 219);
    color: black;
    border-color:none;
    border-radius: 10px;
    padding: 1em;
    width: 4rem;
    margin: 1rem;

}

.botonConfirmacion :hover{
    background-color: rgb(81, 79, 79);
    color: aliceblue;
}