<section id="educacion">
    <div class="contenedorTitulo">
        <h1 class="titulo">Educación</h1>
    </div>
    <div *ngIf="!contenidoDisponible" class="contenedorCargandoSeccion">
        <img class="cargando" src="./assets/cargando.gif" alt="CARGANDO...">
    </div>
    <div class="contenedorArticles" *ngIf="contenidoDisponible">
        <article *ngFor="let edu of educacion">
            <div class="contenedorLogoInstitucional" ><img *ngIf="edu.logoInstitucional.length>0" class="logoInstitucional" [src]="edu.logoInstitucional" alt="Logo Institucional"></div>
            <h1 class="institucionArticle">{{edu.nombreInstitucion}}</h1>
            <h2 class="tituloArticle">{{edu.tituloObtenido}}</h2>
            <h3 class="fechaArticle">Desde {{edu.desde | date: 'dd/MM/yyyy'}}</h3>
            <h3 *ngIf="edu.hasta!=null" class="fechaArticle">Hasta {{edu.hasta | date: 'dd/MM/yyyy'}}</h3>
            <h3 *ngIf="edu.hasta==null" class="fechaArticle">Hasta actualidad</h3>
        </article>
    </div>
</section>