<section>
    <div class="contenedorTitulo">
        <h1 class="titulo">Experiencia</h1>
    </div>
    <div class="contenedorArticles">
        <article *ngFor="let experiencia of experiencias">
            <div class="contenedorLogoInstitucional" ><img *ngIf="experiencia.logoEmpresa.length>0" class="logoInstitucional" [src]="experiencia.logoEmpresa" alt="Logo Institucional"></div>
            <h1 class="institucionArticle">{{experiencia.nombreLugarDeTrabajo}}</h1>
            <h2 class="tituloArticle">{{experiencia.nombrePuesto}}</h2>
            <h3 class="fechaArticle">Desde  {{experiencia.desde | date: 'dd/MM/yyyy'}}</h3>
            <h3 *ngIf="experiencia.hasta!=null" class="fechaArticle">Hasta  {{experiencia.hasta | date: 'dd/MM/yyyy'}}</h3>
            <h3 *ngIf="experiencia.hasta==null" class="fechaArticle">Hasta la actualidad</h3>
            <p class="descripcion">{{experiencia.descripcionActividades}}</p>
        </article>
    </div>
</section>