<section id="educacion">
    <div class="titulo">
        <h1>Educación</h1>
    </div>
    <div class="articles" id="listaEducacion">
        <article>
            <img src="./assets/educacion.png" alt="Logo Institucional">
            <div class="datosEducacion">
                <h2>Nombre Instituto</h2>
                <h3>Carrera o titulo obtenido</h3>
                <h4>Desde: 03/2015</h4>
                <h4>Hasta: 01/2018</h4>
            </div>
        </article>
  
        <article>
            <img src="./assets/educacion.png" alt="Logo Institucional">
            <div class="datosEducacion">
                <h2>Nombre Instituto</h2>
                <h3>Carrera o titulo obtenido</h3>
                <h4>Desde: 03/2015</h4>
                <h4>Hasta: 01/2018</h4>
            </div>
        </article>
  
        <article>
            <img src="./assets/educacion.png" alt="Logo Institucional">
            <div class="datosEducacion">
                <h2>Nombre Instituto</h2>
                <h3>Carrera o titulo obtenido</h3>
                <h4>Desde: 03/2015</h4>
                <h4>Hasta: 01/2018</h4>
            </div>
        </article>
    </div>
  </section>
