<section>
    <div class="contenedorTitulo">
        <h1 class="titulo">Editar portfolio</h1>
    </div>
    <div class="contenedorFormulario">
        <div class="contenidoFormulario">
            <form [formGroup]="form" id="form">
                <div class="contenedorCampo">
                    <label for="nombre">Nombre de usuario</label>
                    <input id="nombre" formControlName="nombreUsuario">

                </div>
                <div class="contenedorCampo">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" formControlName="contraseña">
                </div>
                <div class="contenedorBotones">
                    <button class="botonFormulario" type="submit" routerLink="/edicionPortfolio">Acceder</button>
                    <button class="botonFormulario" routerLink="">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</section>