<section *ngIf="tieneContenido" >
    <div class="contenedorTitulo">
        <h1 class="titulo">Habilidades</h1>
    </div>
    <div *ngIf="!contenidoDisponible" class="contenedorCargandoSeccion">
        <img class="cargando" src="./assets/cargando.gif" alt="CARGANDO...">
    </div>
    <div class="contenedorArticles" id="habilidades" *ngIf="contenidoDisponible">
        <article *ngFor="let habilidad of habilidades">
            <div class="contenedorHabilidad">
                <div class="contenedorImagen">
                    <img class="habilidad" [src]="habilidad.imagen" [alt]="habilidad.nombre">
                    <progress [value]="habilidad.porcentajeDominio" max="100">
                        {{habilidad.porcentajeDominio}}</progress>
                </div>
                <div class="contenedorDetalle">
                    <h1>{{habilidad.nombre}}</h1>
                    <h2>{{nivelConocimientos.get(habilidad.porcentajeDominio)}}</h2>
                </div>
            </div>
        </article>
    </div>
</section>