<section id="proyectos">
  
    <div class="titulo">
        <h1>Proyectos</h1>
    </div>
    <div class="articles" id="listaProyectos">
        <article>
            <h2>Nombre del proyecto</h2>
            <h3>Desde mes/año - Hasta mes/año</h3>
            <p class="descripcion" >Descripcion del proyecto:Lorem ipsum dolor sit amet. Non illum
                voluptas
                fuga quidem in sapiente voluptates
                eos aliquid iure in enim rerum. At voluptatum eius ab omnis nesciunt qui enim placeat eos labore
                nobis ea nihil fugiat eos aspernatur consequuntur qui harum molestiae.</p>
            <button>Mas informacion</button>
        </article>
        <article>
            <h2>Nombre del proyecto</h2>
            <h3>Desde mes/año - Hasta mes/año</h3>
            <p class="descripcion">Descripcion del proyecto:Lorem ipsum dolor sit amet. Non illum
                voluptas
                fuga quidem in sapiente voluptates
                eos aliquid iure in enim rerum. At voluptatum eius ab omnis nesciunt qui enim placeat eos labore
                nobis ea nihil fugiat eos aspernatur consequuntur qui harum molestiae.</p>
            <button>Mas informacion</button>
        </article>
        <article>
            <h2>Nombre del proyecto</h2>
            <h3>Desde mes/año - Hasta mes/año</h3>
            <p class="descripcion">Descripcion del proyecto:Lorem ipsum dolor sit amet. Non illum
                voluptas
                fuga quidem in sapiente voluptates
                eos aliquid iure in enim rerum. At voluptatum eius ab omnis nesciunt qui enim placeat eos labore
                nobis ea nihil fugiat eos aspernatur consequuntur qui harum molestiae.</p>
            <button>Mas informacion</button>
        </article>
    </div>
  </section>