<section *ngIf="tieneContenido" >
    <div class="contenedorTitulo">
        <h1 class="titulo">Proyectos</h1>
    </div>
    <div *ngIf="!contenidoDisponible" class="contenedorCargandoSeccion">
        <img class="cargando" src="./assets/cargando.gif" alt="CARGANDO...">
    </div>
    <div class="contenedorArticles" *ngIf="contenidoDisponible">
        <article *ngFor="let proyecto of proyectos">
            <h2 class="tituloArticle">{{proyecto.nombre}}</h2>

            <h3 class="fechaArticle">Desde  {{proyecto.desde | date: 'dd/MM/yyyy'}}</h3>
            <h3 *ngIf="proyecto.hasta!=null" class="fechaArticle">Hasta  {{proyecto.hasta | date: 'dd/MM/yyyy'}}</h3>
            <h3 *ngIf="proyecto.hasta==null" class="fechaArticle">Hasta la actualidad</h3>
            <p class="descripcion">{{proyecto.descripcion}}</p><br>
            <a class="botonLink" *ngIf="proyecto.imagenes.length>0" (click)="mostrarGaleria(proyecto)">Galería </a>
            <a class="botonLink" [href]="proyecto.link" target="_blank">Link</a>
        </article>
    </div>
  </section>