<section id="experienciaLaboral">
    <div class="titulo">
        <h1>Experiencia</h1>
    </div>
    <div class="articles">
        <article class="experiencia">
            <div class="top">
                <img src="./assets/experiencia.png" alt="Logo Institucional">
                <h2>Diseñadora grafica</h2>
                <h3>Desde: 05/2011</h3>
                <h3>Hasta: 04/2012</h3>
                  
            </div>
            <p class="descripcion">Actividades realizadas en ese puesto: Lorem ipsum dolor sit amet. Non illum
                voluptas
                fuga quidem in sapiente voluptates
                eos aliquid iure in enim rerum. At voluptatum eius ab omnis nesciunt qui enim placeat eos labore
                nobis ea nihil fugiat eos aspernatur consequuntur qui harum molestiae.</p>
  
        </article>
        <article class="experiencia">
            <div class="top">
                <img src="./assets/experiencia.png" alt="Logo Institucional">
                <h2>Diseñadora grafica</h2>
                <h3>Desde: 01/2020</h3>
                <h3>Hasta: Actualidad</h3>
                  
            </div>
            <p class="descripcion">Actividades realizadas en ese puesto: Lorem ipsum dolor sit amet. Non illum
                voluptas
                fuga quidem in sapiente voluptates
                eos aliquid iure in enim rerum. At voluptatum eius ab omnis nesciunt qui enim placeat eos labore
                nobis ea nihil fugiat eos aspernatur consequuntur qui harum molestiae.</p>
  
        </article>
        <article class="experiencia">
            <div class="top">
                <img src="./assets/experiencia.png" alt="Logo Institucional">
                <h2>Puesto de trabajo</h2>
                <h3>Desde mes/año - Hasta mes/año</h3>
            </div>
            <p class="descripcion">Actividades realizadas en ese puesto: Lorem ipsum dolor sit amet. Non illum
                voluptas
                fuga quidem in sapiente voluptates
                eos aliquid iure in enim rerum. At voluptatum eius ab omnis nesciunt qui enim placeat eos labore
                nobis ea nihil fugiat eos aspernatur consequuntur qui harum molestiae.</p>
  
        </article>
  
    </div>
  </section>