:root {

    --color-primario: #1d262d;
    --color-secundario: #f5f5f5;
    --box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    --box-shadow-fuerte: 10px 10px 10px rgb(0, 0, 0);
    --border: solid 2px grey;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--color-secundario);
}

body {
    background-color: var(--color-secundario);
}


/*------------------EDICION--------------------------------------------------------------------*/

#contenedorIconoEditar{
    
    position: absolute;
    bottom:1rem;
    right:3rem;
    width: 4rem;
    margin-bottom: 1rem;
}

.inputImagen{
    display: none; 
    visibility: none;
}

.iconoPanelEdicion {
    /*Establecemos tamaño de la imagen*/
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
}

.iconoPanelEdicion:hover {
    /*Establecemos tamaño de la imagen*/
    height: 3.5rem;
    width: 3.5rem;
}

.panelAceptar-cancelar{
    /*ubicacion del panel*/
    position: absolute;
    bottom:1rem;
    right:3rem;   
}


.contenedorAceptar-cancelar{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
}


.panelEdicionArticle {
    height: 5rem;
    text-align: right;
    width: 100%;
}


.panelGuardar{
    margin-right: 1rem;
    width: 50%;
    background-color: blue;
}
.panelCancelar{
    margin-right: 1rem;
    width: 50%;
    background-color: rgb(255, 0, 230);
}




/*--------------------------------------------------------------------------------------*/

section {
    background-color: var(--color-primario);
    width: 70%;
    margin-left: 15%;
    margin-top: 2em;
    border-radius: 20px;
    box-shadow: var(--box-shadow-fuerte);
    margin-bottom: 5em;
}


/*----------------------------*/
.contenedorTitulo {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    border-bottom: var(--border);
    overflow: auto;
}

.titulo {
    float: left;
    font-size: 1.8rem;
    text-transform: uppercase;
}

#agregarEnTitulo {
    float: right;
}

/*----------------------------*/

.contenedorArticles {
    background: url("./assets/seccion.jpg");
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    
}


article {
    display: block;
    text-align: center;
    border-radius: 20px;
    background-color: var(--color-primario);
    box-shadow: 30px 30px 30px rgb(17, 18, 18);
    border: solid 2px grey;
    padding: 2rem;
    margin: 1rem;
}

.contenedorLogoInstitucional{
    height: 7rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.logoInstitucional {
    height: 7rem;
    width: 7rem;
    border-radius: 100px;
    border: solid 3px rgba(128, 128, 128, 0.3);
    padding: 0.2rem;
    box-shadow: 4px 4px 3px rgba(103, 96, 96, 0.3);
}

.institucionArticle {
    font-size: 1.5rem;
}

.tituloArticle {
    font-size: 1.3rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.fechaArticle {
    font-size: 1rem;
    padding-bottom: 1rem;
}

.descripcion {
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
    border-bottom: solid 1px white;
    padding: 0.5rem;
    border-top: solid 1px white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /*Para evitar que sean muy largos ponemos una
     altura maxima y la posibilidad de scroll*/
    height: 10rem;
    overflow-y:auto;
}

/*Oculta la barra de scroll*/
::-webkit-scrollbar {
    display: none;
}



/*--------HABILIDAD-----------------------------------*/

#habilidades {
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.contenedorHabilidad{
    height: 10rem;
    width: 100%;
    text-align: center;
}
.contenedorHabilidad:hover{
    padding: 1rem;
}

.habilidad {
    height: 8rem;
    width: 8rem;
    border-radius: 10px; 
    padding-bottom: 1rem;
}

progress {
    border-radius: 7px; 
    width: 9rem;
    height: 1rem;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
 
progress::-webkit-progress-bar {
  background-color: rgb(129, 129, 121);
  border-radius: 5px;
  box-shadow: 1px 1px 5px 3px rgba(132, 120, 120, 0.8);
  
}
progress::-webkit-progress-value {
  background-color: rgb(84, 208, 59);
  border-radius: 5px;
 
}




/*-------------------------------------------*/

.botonMasInformacion {
    background-color: rgba(128, 128, 128, 0.3);
    color: var(--color-secundario);
    border: var(--border);
    border-radius: 10px;
    padding: 1em;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}

.botonMasInformacion:hover {
    background-color: rgba(128, 128, 128, 0.6);
    color: var(--color-secundario);
}


.galeriaImagenes {
    width: 100%;
    padding: 1em;
}

.imagenMuestra {
    width: 70%;
    border-radius: 20px;
    margin-left: 1em;
    margin-right: 1em;
}

/*------------------FORMULARIOS-------------------------*/
.contenedorFormulario {
    background: url("./assets/seccion.jpg");
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 1em;
}

.contenidoFormulario {
    background-color: var(--color-primario);
    width: 70%;
    margin-left: 15%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    border: var(--border);
    border-radius: 20px;
    box-shadow: var(--box-shadow-fuerte);


}

.contenedorBotones {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.botonFormulario {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    height: 3rem;
    border: none;
    margin: 1rem;
    border-radius: 10px;
    padding: 0.5em;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    border: var(--border);
}

.botonFormulario:hover {
    background-color: rgba(128, 128, 128, 0.6);
    color: var(--color-secundario);
}

.contenedorCampo {
    width: 100%;
    text-align: left;
    margin-top: 2rem;
}

label {
    width: 30%;
    float: left;
    padding: 0.3rem;
    font-size: 1rem;
}

input, textarea{
    width: 60%;
    border-radius: 10px;
    color: var(--color-primario);
    padding: 0.3rem;
}


/*----------FORMULARIOS---------------*/
#contenedorFormulario{
    background: url("./assets/seccion.jpg");
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
}

#formulario{
    display: block;
    text-align: center;
    border-radius: 20px;
    background-color: var(--color-primario);
    box-shadow: 30px 30px 30px rgb(17, 18, 18);
    border: solid 2px grey;
    padding: 2em;
    margin: 1em;
}

#cargarImagen{
    cursor: pointer;
}


label{
    width: 100%;
    font-size: 1rem;
    background-color: var(----color-primario);
    margin-top: 1rem;
    text-align: left;
}

input{
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    background-color: var(----color-primario);
    color: var(--color-secundario);
    border: solid 1px white;
}

span{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

textarea{   
    width: 100%;
    height: 15rem;
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
    margin-top: 0.5rem;
    background-color: var(----color-primario);
    color: var(--color-secundario);
    border: solid 1px white;
    /*Para evitar que sean muy largos la posibilidad de scroll*/
    overflow-y:auto;
}

/*Chekbox para el control de la fecha hasta*/
.container {
    display: block;
    position: relative;
    padding-left: 2rem; /*Para separar label del chekbox*/
    margin-top: 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Estilo checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.6rem;
    width: 1.6rem;
    background-color: #eee;
  }
  
  /* Cambio de color del chekbox al pasar el mouse sobre el*/
  .container:hover input ~ .checkmark {
    background-color: rgb(210, 183, 183);
  }
  
  /* Cuando esta seleccionado se vuelve rojo para indicar que es obligatorio */
  .container input:checked ~ .checkmark {
    background-color: tomato;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Estilo de la tilde dentro del chekbox */
  .container .checkmark:after {
    left: 0.5rem;
    top: 0.2rem;
    width: 0.5rem;
    height: 1rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  

/* Teléfonos */
@media only screen and (max-width: 575px) {
    * {
        font-size: 8px;
    }


}



/* Tablets */
@media only screen and (max-width: 1000px) {
    * {
        font-size: 10px;
    }


}