* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
   
}

:root {
    --color-primario:#1d262d;
    --box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

html {
    font-size: 16px;
}
  

body{
    background-image:  whitesmoke;
    color: whitesmoke;
}


/*--------------------------------------------------------------------------------------*/

.iconoEdicion {
    /*Establecemos tamaño de la imagen*/
    height: 3rem;
    width: 3rem;
    
  }


#introduccion{
    background-color: var(--color-primario);
    width: 80%;
    margin-left: 10%;
    margin-top: 2em;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

#banner{
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#acercaDe{
    width: 100%;
    margin: 2em;
    padding-bottom: 2em;
    display: flex;/*Organiza el contenido como si fueran tablas*/
}


#nombre{
    font-size: 30px;
    padding-bottom: 0.5em;
}
h2{
    font-size: 20px;
    padding-bottom: 0.5em;
}
h3{
    font-size: 18px;
    padding-bottom: 0.5em;

}

p{
    width: 90%;
    font-size: 16px;
    text-align: justify;
    
    
}

#fotoDePerfil{
    width: 20%;
    height: 20%;
    border-radius: 20px;
    padding-right: 2em;
}


/*--------------------------------*/

section{
    background-color: var(--color-primario);
    width: 70%;
    margin-left: 15%;
    margin-top: 2em;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    
   
}

.titulo{
    padding: 2em;
    padding-left: 4em;
    border-bottom: solid 2px grey;
}

.titulo h1{
    font-size: 25px;
    text-transform: uppercase;
}

.articles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    
    background: url("./assets/seccion.jpg");
    

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 1em;
    text-align: center;
    
}

#listaEducacion{
    background-color: rgb(100, 147, 95);
}

#listaHabilidades{
    
    background-color: rgb(147, 95, 123);
    
}

#listaProyectos{
    text-align: center;
    background-color: rgb(164, 158, 72);
    margin-bottom: 3em;
    
}

#listaProyectos h2{
    
    font-size: 25px;
    margin-bottom: 1em;
}

#listaProyectos article .descripcion{ 
display: block;
margin-top: 2em;
}

#listaProyectos article button{ 
  background-color: rgba(128, 128, 128, 0.3);
  color: white;
  border: solid 2px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  padding: 1em;
  margin-top: 2em;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
  cursor: pointer; 
  font-size: 15px;
}

#listaProyectos article button:hover{ 
    background-color: rgba(128, 128, 128, 0.6);
}


#listaHabilidades article{
    padding: 1em;
    margin: 1em;    
}

#listaHabilidades article .descripcion{
    display: block;
       
   }

.Habilidad{
    height: 8m;
    width: 8em;
    border-radius: 0px;
    border: none;
    padding: 0em;
    margin-bottom: 0em;
    box-shadow: none;
}

.Habilidad:hover{
    height: 6em;
    width: 6em;
    margin-bottom: 1em;
}

article{
    display: block;
    text-align: center;
    border-radius: 20px;
    background-color: var(--color-primario);
    box-shadow: 30px 30px 30px rgb(17, 18, 18);
    border: solid 2px grey;
    padding: 2em;
    margin: 1em;
}

article img{
    height: 8m;
    width: 8em;
    border-radius: 100px;
    border: solid 3px rgba(128, 128, 128, 0.3);
    padding: 0.2em;
    margin-bottom: 2em;
    box-shadow: 4px 4px 3px rgba(103, 96, 96, 0.3);
}


.top h2, .datosEducacion h2{
    font-size: 20px;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 1em;
    border-bottom: solid 1px white;
 
    
    
}
.top h3, .datosEducacion h4{
    font-size: 18px;
   
}



.datosEducacion h4{
    padding-bottom: 0.5em;

    
}
.datosEducacion h3{
    font-size: 21px;
    border-bottom: solid 1px white;
    margin-bottom: 1em;
 
}



article p{
    font-size: 16px;
    text-align: justify;
    padding-bottom: 1em;
    border-bottom: solid 1px white;
    padding-top: 1em;
    border-top: solid 1px white;
}



/* Teléfonos */
@media only screen and (max-width: 575px){
    html{
        font-size: 8px;
    }
    
    }