<header>
    <nav>
        <ul>
            <li><a [href]="redesSociales.argentinaPrograma" target="_blank"><img id="logoArgProg"
                        src="./assets/logoArgentinaProgramadddd.png" alt="Argentina Programa"></a></li>
            <li><a [href]="redesSociales.facebook" target="_blank"><img class="icono" src="./assets/facebook.ico"
                        alt="FACEBOOK"></a></li>
            <li><a [href]="redesSociales.twitter" target="_blank"><img class="icono" src="./assets/twitter.ico"
                        alt="TWITTER"></a></li>
            <li><a [href]="redesSociales.instagram" target="_blank"><img class="icono" src="./assets/instagram.ico"
                        alt="INSTAGRAM"></a></li>

            <li><a routerLink="/iniciarSesion"><img class="icono" src="./assets/login.png" alt="LOGIN"></a></li>
        </ul>
    </nav>
</header>